html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}


.App {
  /* text-align: center; */
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
}

header {
  height: 100px;
  border-bottom: solid 1px blue;
}

header>span {
  display: inline-block;
  font-size: x-small;
  border: solid 1px;
  margin: 3px;
  padding: 3px;
}

main {
  height: 360px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

main>div {
  border-right: solid 1px brown;
}

main>div > textarea {
  height: 300px;
  width: 98%;
}

main>div:last-child {
  border-right: 0px;
}

footer {
  border-top: solid 1px green;
  height: 85px;
}

footer pre {
  font-size: small;
  white-space: pre-wrap;
  word-wrap: break-word;
}