html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  direction: rtl;
}


.App {
  /* text-align: center; */
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
}

header {
  height: 70px;
  border-bottom: solid 1px blue;
}

.right {
  display: inline-block;
  font-size: x-small;
  border: solid 1px;
  margin: 3px;
  padding: 3px;
}

main {
  height: 390px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* fraction*/
}

main>div {
  border-left: solid 1px brown;
}

.center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

main>div>.scroll {
  height: 367px;
}

main>div>textarea {
  height: 330px;
  width: 98%;
  direction: ltr;
}

main>div:last-child {
  border-left: 0px;
}

footer {
  border-top: solid 1px green;
  height: 85px;
  direction: ltr;
  text-align: center;
}

footer pre {
  font-size: small;
  white-space: pre-wrap;
  word-wrap: break-word;
}