html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.App {
  direction: rtl;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
}

header {
  height: 70px;
  border-bottom: solid 1px blue;
}

.right {
  display: inline-block;
  font-size: x-small;
  border: solid 1px;
  margin: 3px;
  padding: 3px;
}

main {
  height: 392px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  /* fraction*/
}

main>div {
  border-left: solid 1px brown;
}

.center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

main>div>.scroll {
  height: 370px;
}

.person-examples {
  display: inline-block;
  font-size: small;
  padding-right: 10px;
  padding-bottom: 5px;
}

.person-examples button {
  display: inline-block;
  margin-right: 5px;
  font-size: smaller;
}

main>div>textarea {
  height: 328px;
  width: 98%;
  direction: ltr;
  font-size: small;
}

main>div:last-child {
  border-left: 0px;
}

footer {
  border-top: solid 1px green;
  height: 85px;
  direction: ltr;
  text-align: center;
}

footer pre {
  font-size: small;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.console {
  font-size: small;
  direction: ltr;
}

.console .msg {
  text-align: left;
  border-top: solid 1px;
  padding-top: 2px;
  white-space: pre-wrap;
}

.console .msg.info {
  color: darkslateblue;
}

.console .msg.warn {
  color: darkorange;
}

.console .msg.err {
  color: darkred;
}

